/temp
/template
/output
/input/pagecontent
/input/capabilities
/input/examples
/input/extensions
/input/profiles
/input/resources
/input/vocabulary
/input/images
/input/includes
/input/davinci-pdex.json
/input/ig.ini
/input/ignoreWarnings.txt
/input/ImplementationGuide-hl7.fhir.us.davinci-pdex.json
/input/SUSHI-GENERATED-FILES.md
/FHIR-us-davinci-pdex.xml
