<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
    <li>
        <a href="index.html">Home</a>
    </li>
    <li>
        <a href="toc.html">Table of Contents</a>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">PDex IG Content
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="overview.html">Overview</a>
            </li>
            <li>
                <a href="introduction.html">Introduction</a>
            </li>
            <li>
                <a href="provider-access-api.html">Provider Access</a>
            </li>
            <li>
                <a href="payertopayerbulkexchange.html">Payer-to-Payer(bulk)</a>
            </li>
            <li>
                <a href="payertopayerexchange.html">Payer-to-Payer(single)</a>
            </li>
            <li>
                <a href="datamapping.html">Data Mapping</a>
            </li>
            <li>
                <a href="cds-hooks.html">CDS Hooks</a>
            </li>
            <li>
                <a href="changehistory.html">Change Log</a>
            </li>
            <li>
                <a href="credits.html">Credits</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="artifacts.html">FHIR Artifacts</a>
    </li>
    <li>
        <a href="other-igs.html">Other IG Artifacts</a>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="https://confluence.hl7.org/pages/viewpage.action?pageId=116462704" target="_blank">Project Home</a>
            </li>
            <li>
                <a href="https://chat.fhir.org/#narrow/stream/235286-Da-Vinci-PDex" target="_blank">Discussion Forum</a>
            </li>
            <li>
                <a href="http://hl7.org/fhir-issues" target="_blank">Propose a Change</a>
            </li>
            <li>
                <a href="Downloads.html">Downloads</a>
            </li>
        </ul>
    </li>
</ul>